@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif; 
}
.container {
    max-width: 1920px;
    margin: 0
    auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px; 
    height: auto; 
}

.main-panel {
    display: flex;
    background-color: #CDFBFF; 
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
}

.profile-sidebar {
    width: 538px;
    height: 452px; 
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sidebar-button {
    background-color: #EBEBEB;; 
    color: black; 
    padding: 10px;
    margin-bottom: 44px; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    width: 310px; 
    height: 50px; 
}

.sidebar-button.profile {
    background-color: #EBEBEB; 
}

.sidebar-button.orders {
    background-color: #EBEBEB;; 
    color: black; 
}

.sidebar-button.favorites {
    background-color: #0AB1C1; 
    color: white; 
}

.profile-content {
    flex: 1;
    padding: 20px;
    background-color: #fff; 
    border-radius: 25px;
    margin-left: 20px;
    width: 1122px; 
    height: 452px; 
    position: relative; 
}

.orders-header {
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

.favorites-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

.favorite-item {
    width: 242px; 
    height: 271px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    margin-right: 68px; 
}

.favorite-item:last-child {
    margin-right: 0; 
}

.recommendations {
    background-color: #fff; 
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px; 
    text-align: center;
}

.recommendation-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.recommendation-item {
    width: 415px; 
    height: 524px; 
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 
    5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

footer {
    padding: 40px;
    background-color: #f0f0f0;
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    width: 25%;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #555;
}

.newsletter {
    display: flex;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #2ab7ca;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
