@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo img{
  width: 150px;
  height: auto;
}

.header-right {
  font-size: 1.5em;
}

.header-right span {
  margin-left: 10px;
  cursor: pointer;
}


.categories {
  text-align: center;
  padding: 40px 20px;
}

.categories h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1920px;
  margin-right: 0 auto;
}

.category-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 25px;
}

.category-item h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.category-item p {
  margin-bottom: 15px;
}

.category-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.products {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1920px;
  margin-right: 0 фгещ;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  height: 450px;
  padding: 20px;
  text-align: center;
  position: relative; 
  margin-right: center;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36 px;
  height: auto;
}

.product-item p {
  margin-bottom: 10px;
}

.cart-icon {
 position: absolute;
 bottom: 10px;
 right: 10px;
 width: 25x;
 height: 25px;
}

footer {
  background-color: #f0f0f0; 
  padding: 20px;
  font-family: sans-serif; 
  width: 1920px; 
  max-width: 100%; 
  margin: 0 auto; 
}

.footer-columns {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.footer-column {
  width: 20%; 
  min-width: 150px; 
  margin-bottom: 20px; 
}

.footer-column p {
  margin: 5px 0;
  font-size: 14px;
  color: #333; 
}

.footer-column input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.footer-column button {
  background-color: #00bcd4; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #0097a7; 
}

.footer-column input[type="checkbox"] {
  margin-right: 5px;
}


@media (max-width: 768px) {
  .footer-column {
    width: 45%; 
  }
}

@media (max-width: 480px) {
  .footer-column {
    width: 100%; 
  }
}


.footer-column div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

